---
import BlogCard from './BlogCard.astro';

interface Article {
  slug: string;
  title: string;
  date: string | null;
  category: string;
}
interface Props {
  articles: Article[];
}
const { articles } = Astro.props;
---
<section data-component="BlogList" class="py-8">
  <div data-animate="stagger" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-10">
    {articles.map((a) => (
      <BlogCard
        title={a.title}
        slug={a.slug}
        date={a.date}
        category={a.category}
      />
    ))}
  </div>
</section>
